[2020-02-24 15:03] reinvanleirsberghe opened #28 "Add custom control"
Is and how is it possible to add a custom control? https://azuremapscodesamples.azurewebsites.net/Custom%20Modules/Bring%20Data%20Into%20View%20Control/Bring%20Data%20Into%20View%20Control.html

[2020-02-24 22:33] onionhammer opened #29 "No implementation of bubble layer?"
Not sure what else is missing, but this one stands out

[2020-02-25 08:38] msasinowski commented on #29
@onionhammer
`export type IAzureMapLayerType =
  | 'SymbolLayer'
  | 'HeatLayer'
  | 'ImageLayer'
  | 'LineLayer'
  | 'PolygonExtrusionLayer'
  | 'PolygonLayer'
  | 'TitleLayer'`

Yes you are right we are missing this in our library, We will try to add this in next version.

[2020-02-25 08:52] msasinowski commented on #28
Currently, we support only base controls on the map the list is here https://github.com/WiredSolutions/react-azure-maps/blob/19633f6e2bc2db6d3a6bbecb7b1989516820884e/src/components/AzureMap/useCreateMapControls.tsx#L20

We try to add this in 0.0.2 as regular option in `AzureMapComponent` , or you can always take the ref from AzureMapContext

`const { mapRef } = useContext<IAzureMapsContextProps>(A

[2020-02-25 19:35] #28 closed

[2020-02-25 19:40] srednicki95 commented on #28
@reinvanleirsberghe Thanks for your proposal. Feel free to add more.
This feature will appear soon in version 0.0.2.
You can find implementation of custom control in Playground
[https://github.com/WiredSolutions/react-azure-maps-playground/tree/master/src/examples/CustomControl](url)

[2020-02-26 10:22] #29 closed

[2020-03-03 15:19] orlahowell opened #36 "AzureMapPopup 'options' prop"
Currently working on a project needing a lot of markers, each with a popup on hover. I was planning to implement something like this: [reusing a popup with multiple points](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-popup#reusing-a-popup-with-multiple-points)

I'm trying to alter the position with state, but after the initial load nothing within the options prop changes. I think it'

[2020-03-03 16:31] msasinowski commented on #36
You are right, props change for `AzureMapPopup ` don't have any effect, we handle this case inside custom hook `useCreatePopup` so after any changes that will be made in options or content, the popup ref will re-render correctly.

Thanks for reporting the issue, we try to resolve this in next version, probably tomorrow we will push a new version with some minor fixes including this.

[2020-03-03 16:34] srednicki95 commented on #36
@orlahowell Thanks for your feedback. We will implement that example in Playgroud.

[2020-03-04 14:06] #36 closed

[2020-03-04 14:16] srednicki95 commented on #36
@orlahowell We just added effect for popup options in version 0.0.4. Also we implemented example just like your example  but with mouse-enter(hover) event on marker instead of click: [https://github.com/WiredSolutions/react-azure-maps-playground/blob/master/src/examples/MultiplePointWithPopup.tsx](url)

Thanks again for your feedback, feel free to create next if you have any problems.

[2020-03-04 21:13] orlahowell opened #38 "AzureMapHtmlMarker 'markerContent' prop"
Looking to change the `markerContent` for `AzureMapHtmlMarker` after initial load, but I can't get it to work - is this something similar to #36?

Thanks for the quick response!

[2020-03-04 21:14] orlahowell commented on #36
Really appreciate it! Have managed to implement your example - really helpful!

[2020-03-04 22:17] msasinowski commented on #38
@orlahowell Yes, it is a similar issue, we won't add this fix in 0.0.4, because there are some differences in implementation for HtmlMarkerPopup and just simple Popup. We will discuss that and work on this and resolve that in 0.0.5.

Thank you for your input 👍

[2020-03-05 08:27] #38 closed

[2020-03-11 21:50] rwilson504 opened #46 "Azure Maps Government Cloud Support"
Could you add a way to set the Domain of the Map before the map is rendered if needed.  This would allow for usage with the Microsoft Government clouse support.

atlas.setDomain('atlas.azure.us');

https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control#azure-government-cloud-support

[2020-03-12 02:28] rwilson504 commented on #46
Sorry I see that the domain is part of the map options.

[2020-03-12 02:28] #46 closed

[2020-03-19 09:26] QPRocky opened #47 "Html markers"
Hi, this is not really an issue, but I couldn't find sample from playground samples.
What I'm looking for, is how clustering HTML markers work?
I see, its done on azure maps web SDK but cant figure out, how to archieve it with react-azure-maps

[2020-03-19 10:39] srednicki95 commented on #47
Thanks for your feedback, we have missing logic with adding HTMLMarker to dataSource. It will be fixed in next release.

Anyway you can still cluster Features and Shapes and is more effectible and have better performance instead of HTMLMarkers

@QPRocky  To be sure we are on the same page: can you add exactly what you want and how you done it on pure azure maps sdk?

[2020-03-19 10:45] QPRocky commented on #47
Thanks for reply.
Actually I would like to cluster points like here:
[https://azuremapscodesamples.azurewebsites.net/HTML%20Markers/HtmlMarkerLayer/HTML%20Marker%20Layer.html](HTML Marker Layer)
But instead using build-it markers, I would like to use my own custom images. (at moment managed to use own images with <AzureMapHtmlMarker> component)

[2020-03-19 10:58] srednicki95 commented on #47
Ok now I see what we need to update. I will update exactly the same example on our playground. I think it should be available tomorrow. Thanks again for feedback and feel free to create another issue if we still have missing some features or you need help

[2020-03-19 11:01] QPRocky commented on #47
Wow, very nice!
Thanks!

[2020-03-25 08:05] msasinowski commented on #47
**Update:** We still working on that but facing a couple of issues with this custom layer implementation which coming from AzureMapsCodeSamples we will try to solve it somehow.

[2020-03-26 08:29] msasinowski commented on #47
@QPRocky feature is done in **0.0.7** example of using this is in https://github.com/WiredSolutions/react-azure-maps-playground/commit/3099420a0d0d1fdc14fdba2125a76dcea33c2150

[2020-03-26 08:29] #47 closed

[2020-04-06 07:54] DharmendraNaberly opened #53 "After Installation getting "ReferenceError: self is not defined""
![self1](https://user-images.githubusercontent.com/53552327/78535427-feb57900-77a0-11ea-9fed-bf36b9b14885.png)

[2020-04-07 10:09] srednicki95 commented on #53
@DharmendraNaberly
Please add more info how you import and use this package?

[2020-04-13 00:00] smith1511 opened #54 "Popup components with React hooks don't call hooks or render updates"
Versions:
react-azure-maps 0.0.7
react 16.13.0

Problem:
I'm using a AzureMapPopup - when I supply a React component that uses hooks (or classes with async fetching) to popupContent - it renders the initial view but never re-renders the component or calls the Hooks/API.  I believe this could be caused by the use of renderToStaticMarkup in useCreatePopup().

Expect Behavior:
My component uses a Hoo

[2020-04-13 18:07] msasinowski commented on #53
**Close the issue.**
**Reason: No proper steps to reproduce.**

[2020-04-13 18:07] #53 closed

[2020-04-13 18:25] msasinowski commented on #54
Hello @smith1511 , thanks for reporting the issue.
I think for now there is no way to fix this in an easy way because`renderToStaticMarkup` does not support async rendering. The other thing is that the Popup that is provided by `azure-maps-control` accepts only static HTML string and we need to render it somehow on our side.

The one way to implement that kind of feature is just grabbing an async

[2020-04-13 22:34] smith1511 commented on #54
Thanks for the reply - I feared that.

When you say move the logic to the parent - is there a way to do that so that the API calls are only done when the user clicks on a popup?

In my scenario I have 50-60 HTML markers, and ideally when someone clicks or mouses over one, I only want to load the async content at that point.

What I'm currently doing is pre-loading all content and passing the resul

[2020-04-14 03:53] smith1511 commented on #54
One other thing I noticed is that this seems to prevent the usage of <Link to={...}/> - unless you know a way around that?

[2020-04-14 15:27] msasinowski commented on #54
Ok but you can also create a simple state for popup data in the parent component, and whenever someone clicks make an async call, set result in state and use that state in the popup content and this approach should work. It is really hard to help you without some code sample or something like that, so if you can please attach something like that :). Also, I would say that HtmlMarker from `azure-ma

[2020-04-14 15:27] msasinowski commented on #54
We will check this one.

[2020-04-16 01:48] ms-sunayak opened #55 "How to load IAzureDataSourceChildren of type="Polygon""
I am trying to create an array of data source children of type polygon. I am not able to follow much from the typing of IAzureDataSourceChildren as i don't see a way to pass the atlas.data.Polygon element by AzureMapFeature props. Any pointers or sample on how to load polygon using AzureDataSourceChildren and AzureMapfeature would help me here.

![image](https://user-images.githubusercontent.com/6

[2020-04-17 07:09] msasinowski commented on #55
hello, @ms-sunayak in the `IAzureMapFeature` `type` prop you can pass the following types, so if you set `Polygon` as type it should work fine.

![image](https://user-images.githubusercontent.com/38035075/79541942-0ae7e300-808b-11ea-8396-fa689dca1213.png)

[2020-04-17 15:38] srednicki95 commented on #55
Hi @ms-sunayak
You can add polygon as AzureMapFeature with type `Polygon` and pass array of coords inside `coordinates` props of that feature. You need to remember to create layer with type `PolygonLayer`.

To add array of polygons you can map inside `<AzureMapDataSourceProvider />` or pass geojson as `collection` props if this is local variable or `dataFromUrl` if you want async download that dat

[2020-04-17 17:13] srednicki95 commented on #54
@smith1511  We prepared example for you [AsyncPopupExample](https://github.com/WiredSolutions/react-azure-maps-playground/blob/master/src/examples/AsyncPopupExample.tsx)

Fell free to comments if you have any other question?

[2020-04-18 13:16] #55 closed

[2020-04-28 15:27] #54 closed

[2020-05-02 21:14] ronvecchi opened #57 "AzureMapHtmlMarker options.popupContent doesn't seem allow for click events anywhere in the content"
I tried adding a div with an onClick handler to the popContent and it seems it's never invoked.  Almost like the event is never getting registered.

To verify and eliminate any thing that I might have been doing.  I took the **PopupExample.tsx** from the playground and added an onClick handler to the div:

[code]

It never get's invoked when clicking the div.

Side note:  Also seems to be the same

[2020-05-02 22:58] ronvecchi commented on #57
Seems to be related to the react-dom/server call to renderToStaticMarkup() in useCreatePopup().

[2020-05-03 00:31] ronvecchi commented on #57
Ok so looked at closed issue 54 which I can see that it's not possible...
https://github.com/WiredSolutions/react-azure-maps/issues/54

Hack to get around this was to supply a div to the content with an Id and then use ReactDOM.render within an effect to update the content.

Something like:

[code]

And then for the effect:

[code]

[2020-05-04 18:43] IzikLisbon opened #58 "Upgrade mapbox-gl to 1.10.0"
The current version of mapbox-gl in package.json (^1.8.1) includes few security risks due to an old version of minimist (version 0.0.8). Upgrading to the latest 1.10.0 will solve it.

from https://github.com/mapbox/mapbox-gl-js/releases/tag/v1.10.0:
[code]

Since anyway package.json is marked to auto-accept minor releases (^), I assume this should be a minor change.

[2020-05-11 20:36] msasinowski commented on #58
@IzikLisbon Thank you, it will be included in the next minor release  0.1.1 @srednicki95
https://github.com/WiredSolutions/react-azure-maps/pull/new/chore/bump-mapbox-gl

[2020-05-11 20:44] msasinowski commented on #57
This is a good approach @ronvecchi and we probably look into this, but I see at least one concern. It will probably affect the performance of this component because we will need to render the whole tree under the `TripPoiPopupComponent` on every `[nearbyMarkerInfo, poiResultId]` change. Which is probably fine but not in every use case. I will not close this issue, and try this approach on some mor

[2020-05-11 20:47] #58 closed

[2020-05-11 21:14] izikl commented on #58
@msasinowski Thank You!

[2020-06-05 03:19] ShaylinChetty opened #60 "Traffic Options"
Traffic options don't seem to be passing through. Unless I am misunderstanding something it is expected that the following map would show traffic events.

[code]

Traffic options seem unused in the playground examples.

[2020-06-05 08:26] srednicki95 commented on #60
Thanks for your feedback, we will investigate on that and add sample of traffic options to playgroud.

[2020-06-06 10:16] srednicki95 commented on #60
This issue has been fixed in 0.1.2 version. Playground example will be updated soon.

[2020-06-06 10:16] #60 closed

[2020-09-30 20:37] dandical opened #65 "Shallow comparison of props in memoized component preventing rerender"
Consider the following component with an AzureMap child component. Whenever this component is rerendered with different props, the AzureMap component fails to rerender with the new `cameraOptions`, as a shallow comparison of the object literal is being made. Are there any different usage suggestions to ensure the AzureMap gets rerendered when different props are passed to this component?

[code]

[2020-10-08 15:13] psrednicki commented on #65
Hi @dandical,
Im tried to reproduce your issue, but I can't. Can you show us how you mutate `bounds` in parent component?

Anyway I update example in https://github.com/WiredSolutions/react-azure-maps-playground and you can find this example named `Change Options in Child` on bottom of list.
The code you can find here: https://github.com/WiredSolutions/react-azure-maps-playground/commit/f79a6d129c

[2020-10-12 05:27] dandical commented on #65
So the difference in your version is you pass in a complete cameraOptions object as props to the child, I tried this and it works, the camera adjust accordingly. However, when I create the cameraOptions object in the component, using a bounds value passed in from the parent as in my example above it doesn't work. I also mutate bounds with useState in the parent component.

So to summarise requirin

[2020-10-12 10:56] psrednicki commented on #65
@dandical Ok i got your point now.
Now I set all like you and its still work as expected. You can find it on `example/bounds-option` branch in playground.

Can you show your parent component and show how exactly you mutate this bound so I can better understand how to help you.

[2020-10-12 12:58] dandical commented on #65
Thanks for the reply again, I will try and find my example with cameraOptions not causing rerender, but for now I have the trivial example below which is kind of similar except with image sprites. Changing the image sprites props does not cause AzureMap and it's children to rerender. The symbols do not appear to start, which is acceptible since the image sprites aren't loaded in the map. After 3 s

[2020-10-12 14:33] psrednicki commented on #65
@dandical About this imageSprites props - its should be initialised on map init. So all sprites that you want to use should be added on map mount. I think dynamically changing sprites can cause side effect - but its possible to implement and add effect for that.
If you want to add dynamically adding sprites please open new issue and we will start work on it.

About dynamically changing props: for

[2020-10-12 21:20] #65 closed

[2020-10-12 21:21] dandical commented on #65
Thanks @psrednicki I can't find the cameraOptions example again and your example is working for me so I assume I had something wrong so I closed the issue.

[2020-10-13 09:27] psrednicki commented on #65
Also thanks you @dandical. Fell free to open new issue if you have any improvements or feature that you need.

[2020-10-21 09:48] zech commented on #57
I've used a similar approach. But instead of rendering a whole new React "instance" I've used ReactDOM.createPortal().
This way all events bubble as usual throug the tree.

[code]

[code]

But in my case I had issues with rendering the popup the first time which I could not track down yet so I helped my self out with a hacky setTimeout() triggering a rerender by flipping a state property once.

As

[2020-10-21 12:08] psrednicki commented on #57
@zech Can you add code where you add this hacky setTimeout? Maybe map isn't ready yet. You can get `mapRef` and `isMapReady` form `AzureMapsContext`, maybe this will resolve your issue.

[2020-10-21 12:15] zech commented on #57
That's another issue I'm struggling with. Due to legacy code I cannot use TS so I adapted the example code for getting the AzureMapsContext.

Currently my hack looks like this:

[code]

It has to be done only once.

To get the mapRef I'm trying this:

[code]

But the debugger never triggers. But I don't want to hijack this topic on this matter.

[2020-10-21 13:42] psrednicki commented on #57
Thats weird. Are you sure you wrap your component with `<AzureMapsProvider>`?
You can use it in JS as well.
Maybe you can create another issue? We will have more context for other users and I will try to help you.

[2020-10-26 10:18] dandical opened #70 "Drawing Manager and Indoor Manager"
Hi,

A project I am working in is using this wrapper but it will require azure maps drawing and indoor modules. Will the project be open to PRs with these features? I have looked into drawing and think the best way would be to make a AzureMapsDrawingManagerProvider following the pattern with the wrappers layers and data source providers.

[2020-10-26 14:11] psrednicki commented on #70
Hi @dandical
Sure we are open for PR and features request.
If you can add it by yourself and create PR it will be great otherwise we can add start work on it but in next week.
Fell free to open PR with this feature.

[2020-10-27 01:07] dandical commented on #70
Ok I will get it done, I noticed the drawing module has an atlas.Map type conflict with azure-maps-control 2.0.25 so will need to wait for your latest version upgrade PR to get approved as well.

[2020-10-27 04:37] dandical commented on #70
No worries I will work on it. This is waiting on your latest PR to update azure-maps-control to 2.0.31 as there are some dependencies that the latest release of drawing modules preview relies on.

[2020-10-27 09:20] psrednicki commented on #70
@dandical Ok I will merge this one so you can work on the latest version.

[2020-10-27 14:30] devdeer-emeissner opened #71 "Problem when using Webpack with react-azure-maps"
Hi, i'm trying to use react-azure-maps in one of my projects but i'm having difficulties with Webpack not being able to bundle my project.

I'm getting this error during the bundle process:
`ModuleNotFoundError: Module not found: Error: Can't resolve 'react-dom/server' in 'C:\Dev\oak\Ui\Ui.WebApp\ClientApp\node_modules\react-azure-maps\dist'`

I'm hoping this is the right place for these kinds of

[2020-10-27 14:41] msasinowski commented on #71
@devdeer-emeissner
Can you attach your web-pack.config js and package.json?

[2020-10-27 15:03] devdeer-emeissner commented on #71
@msasinowski Thank you for your quick response, here are the files

webpack.config.js:
[code]
package.json:
[code]

[2020-10-27 15:24] msasinowski commented on #71
This is more the .net Core web-pack configuration problem. I will first try to add this to the aliases.

`        resolve: {
            alias: {
                '@app': __dirname,
                'project.placeholder.ui.common': commonPath,
                // force the common project to resolve these dependencies from this project
                // there can only be one react instance per app!

[2020-10-28 13:09] psrednicki commented on #71
@devdeer-emeissner
 Please let us known is that resolve your problem.
Anyway this issue is not related to ours lib - its .net core webpack configuration.

[2020-10-28 22:20] Deathrage opened #72 "Bad typing of children of AzureMapDataSourceProvider"
As mentioned in https://github.com/WiredSolutions/react-azure-maps-playground/issues/40

The aforementioned contains rendering of array of markers. However children type of `AzureMapDataSourceProvider` does not take array as children thus

[code]

will cause TypeError.

The type of props is:
[code]
where `children?: Array<IAzureDataSourceChildren | null> | IAzureDataSourceChildren | null;` does no

[2020-10-29 04:17] dandical commented on #70
@psrednicki  Thankyou. A drawing manager creates it's own datasource by default. Features can be added to this data source to provide initial drawings to the user that they can modify. My suggestion is for it to be used as follows when providing initial features in the canvas.
[code]
To do this The AzureMapDrawingManagerProvider creates both a drawingManagerRef and dataSourceRef (the dataSourceRef

[2020-10-29 08:24] devdeer-emeissner commented on #71
@msasinowski @psrednicki Thank you for the quick response. Sadly adding the alias did not resolve my problem.

[2020-10-30 09:40] devdeer-jens commented on #71
@msasinowski Thank you for your support!
The solution was to entirely remove the react-dom resolving from the alias section.

[2020-10-31 11:50] #71 closed

[2020-10-31 12:47] psrednicki commented on #72
Hi @Deathrage
Thanks report this issue.
Function `renderedMarkers` return 'IAzureMapFeature[]` type.
I will update types soon and mention it in this issue.

[2020-11-01 11:36] psrednicki commented on #70
Im started work on Drawing Manager and its working, maybe not perfect but working.
Still have some issues to fix, like toolbar because now its looking like this:
![image](https://user-images.githubusercontent.com/41010528/97801570-12916280-1c3e-11eb-83eb-4456a2929101.png)

@dandical So your use case is - already have some feature(point, polygon etc.) and by drawing manager you want to mutate it. A

[2020-11-01 12:13] psrednicki commented on #70
Im fixed styles errors and created PR with my changes.
@dandical you can start work form that.
I also update playground for that feature(remember to use local version of lib). https://github.com/WiredSolutions/react-azure-maps-playground/pull/42

[2020-11-01 12:27] psrednicki commented on #72
@Deathrage Please check 0.1.14 version i check if that resolve your issue

[2020-11-01 16:27] Deathrage commented on #72
According to the package json I have 0.1.4 but `IAzureDataSourceChildren` in types.d.ts seems to still be just `ReactElement<IAzureMapFeature> | ReactElement<IAzureLayerStatefulProviderProps>`

[2020-11-01 16:49] psrednicki commented on #72
In 0.1.4 we have:
[code]

[2020-11-01 18:40] psrednicki commented on #72
@Deathrage please remove all `node_modules` and install it again

[2020-11-06 13:54] cbiras opened #76 "React-native"
Does this repo work with React native? I need to build a mobile app that works on both Android and iOS so that's why I'm not using the Azure Maps Android Sdk.
The problem is that when I try to import these two:
[code]
it's throwing an Cannot create URL for blob! exception in the react-azure-maps.umd.js and in the atlas.min.js files.

The dependencies installed in package.json are:
[code]

[2020-11-06 14:08] Ali762 opened #77 "Erro: Non-standard crypto library"
Using this package in Next.js gives an Error.

[code]

Error: Non-standard crypto library
    at <myprojectfolder>/node_modules/react-azure-maps/dist/react-azure-maps.umd.js:137:819431

[2020-11-06 15:57] psrednicki commented on #76
Hi @cbiras
Azure Map have Android SDK as far.
We dont tested it on mobile, so probably its wont work.
After MS will add also iOS SDK we can think about it.

[2020-11-06 15:57] #76 closed

[2020-11-06 17:34] psrednicki commented on #77
I think there problem with azure-maps-control, but I need to dive in this problem.
I found this issue https://feedback.azure.com/forums/909172-azure-maps/suggestions/41611411-nextjs-cannot-use-azure-map-control-as-package that is not resolved yet.

[2020-11-09 14:53] psrednicki commented on #72
Types was updated. Close ticket

[2020-11-09 14:53] #72 closed

[2020-11-09 14:54] #57 closed

[2020-11-20 14:19] mihirlaldas opened #79 "OGC layer not implemented"
Since this wrapper does not provide any AzureMapLayerProvider of type='OgcMapLayer', I tried to create my custom layer and use it, but in vain. It is throwing an error - 'emitValidationErrors'. Please suggest some solution.

[2020-12-01 14:29] str4yl1ght commented on #77
I've seen neither movement on this issue here ( [https://feedback.azure.com/forums/909172-azure-maps/suggestions/41611411-nextjs-cannot-use-azure-map-control-as-package] )  nor any workaround elsewhere. Info on using with Next.js appears sparse. Any updates?

[2020-12-01 19:27] Mrashes commented on #77
Also would like to see anything in regards to this.  Not using Next.js but am seeing the below behavior using SitecoreJSS:

1. Testing package in storybook (playground for react components) and it works fine
2. Use Sitecore JSS to deploy & build but it throws - Non-standard crypto library
         --- Worth noting is we have our design system and sitecore repos separated

Error: Non-standard crypt

[2021-01-11 23:37] bgransden commented on #72
Hi @psrednicki, I installed this package last week using `npm install react-azure-maps` and the types file is still just `ReactElement<IAzureMapFeature> | ReactElement<IAzureLayerStatefulProviderProps>` - I've also tried the playground package with same issues.

I've tried removing all node_modules and re-installing with no success.

Is the npm package aligned with the tagged version 0.1.4 on gith

[2021-01-12 07:17] bgransden commented on #72
Hi @psrednicki, further to above, I downloaded the package from:

[https://registry.npmjs.org/react-azure-maps/-/react-azure-maps-0.1.4.tgz](https://registry.npmjs.org/react-azure-maps/-/react-azure-maps-0.1.4.tgz)

I extracted it and have confirmed that the types file doesn't appear to have been updated.

[2021-01-12 13:00] psrednicki commented on #72
Hi @bgransden,
I types.d.ts we I can see it:
https://github.com/WiredSolutions/react-azure-maps/blob/799c6c6343f9e4af8fe786d0466db1c35efe1b82/src/types.ts#L130

[2021-01-12 22:51] bgransden commented on #72
Yes, I know it's in the github repo, but it hasn't made it into the package on npm for whatever reason.

Repro:

1. npx create-react-app my-app --template typescript
2. npm i react-azure-maps
3. Check node_modules/react-azure-maps/dist/types/types.d.ts - it is not updated

Alternatively download the .tgz directly from npm using link above, then extract it, and you'll notice that types.d.ts is stil

[2021-01-15 11:26] luca-favorido-beantech commented on #77
Same problem also using JEST. This problem is blocking all the test suite.
I'm evaluating a migration to other map solutions (also because of bundle size).
Any update could be useful, thanks!

[2021-01-28 05:41] bgransden commented on #72
Hi @psrednicki , I can confirm that npm version 0.1.4 does work correctly if I make the change as per github version 0.1.4, i.e. this https://github.com/WiredSolutions/react-azure-maps/pull/74

Are you able to re-publish the npm package so the types file is current version?

[2021-02-01 02:09] bg6471 opened #82 "npm package 0.1.4 does not match git commit with tag 0.1.4"
The types file updated in https://github.com/WiredSolutions/react-azure-maps/pull/74 (commit tagged 0.1.4) does not match the one in npm package 0.1.4.

Sample repro:
- npx create-react-app my-app --template typescript
- Change directory to /my-app
- npm i react-azure-maps
- Check node_modules/react-azure-maps/dist/types/types.d.ts - it is not updated

Alternatively download the .tgz directly from

[2021-02-05 19:25] MaverickEdberg opened #83 "How to Make AzureMap Stretch to Fit Parent?"
Currently I have an AzureMap inside of a div that can be resized. The canvas within the AzureMap component unfortunately does not resize when the parent div is resized, resulting in an empty section of the parent div. Is there any way to get the AzureMap component to stretch to fit it's parent? Thanks!

PS - I've tried messing with the autoResize function but this apparently only hooks onto the wi

[2021-02-07 11:29] psrednicki commented on #82
Hi @bg6471, I republished package.

[2021-02-07 11:30] psrednicki commented on #72
@bgransden I republished package.

[2021-02-07 11:40] psrednicki commented on #83
Add parent container for `<AzureMap>` component and specify styles.

const MapComponent: React.FC = () => {
  return (
    <div style={{ height: '300px' }}>
      <AzureMap options={option} />
    </div>
  );
};

[2021-02-07 17:33] psrednicki commented on #79
OgcMapLayer class is part of `azure-maps-spatial-io`. We need first to add this package to use that class.
For now we have just `azure-maps-control`

[2021-02-08 14:32] MaverickEdberg commented on #83
@psrednicki Adding style to the parent element does not cause the underlaying `canvas`  to resize unfortunately. I ended up doing something like this:

[code]

Is there a better way?

[2021-02-09 11:34] Sreeja-Veeramreddy opened #84 "While using react app for azure for locator.It is showing at coordinates[0,0]"
I have created LocationMarker.js to import the symbol and expect it to be displayed on the coordinates given by in Map.js..(ie) following code. But by default it showing wrong..
[code]

[2021-02-10 12:26] psrednicki commented on #84
@Sreeja-Veeramreddy can you show your LocationMarker component?

[2021-02-10 12:39] Sreeja-Veeramreddy commented on #84
LocationMarker.js
[code]

[2021-02-10 16:19] psrednicki commented on #84
@Sreeja-Veeramreddy Please use `<AzureMapHtmlMarker />` component to show HTML marker - that should be the easiest way, but is not good performance way.
You can also add image sprites to AzureMap - ImageSprite and use Layer and DataSoure to show your markers.

[2021-02-18 20:28] ptallett commented on #77
@luca-favorido-beantech This worked for me, but I have a ton of other Jest issues

https://stackoverflow.com/questions/52612122/how-to-use-jest-to-test-functions-using-crypto-or-window-mscrypto

[2021-02-18 20:37] rbrundritt commented on #77
Azure Maps uses a standard auth library that is used by all other azure services. Under the hood it uses [window.crypto](https://caniuse.com/?search=crypto) which is a standard browser feature. It sounds like this may be a false positive in react. Here is a related post that may help provide a workaround. https://stackoverflow.com/questions/52612122/how-to-use-jest-to-test-functions-using-crypto-o

[2021-02-21 22:11] #84 closed

[2021-02-24 08:54] piyush-wal commented on #70
@psrednicki i already implemented all mode of drawing toolbar and only edit mode is throwing error so do you have any suggestions.
Error : react-azure-maps.es5.js:132 Uncaught Error: The layer '[object Object]' has not been added to the map and its rendered features cannot be retrieved.
this error is coming on edit the polygons

[2021-02-24 08:55] Piyush925 commented on #70
@psrednicki i already implemented all mode of drawing toolbar and only edit mode is throwing error so do you have any suggestions.
Error : react-azure-maps.es5.js:132 Uncaught Error: The layer '[object Object]' has not been added to the map and its rendered features cannot be retrieved.
this error is coming on edit the polygons

[2021-02-24 16:28] psrednicki commented on #70
@Piyush925 Nice, good job! Can you open PR with your changes? Maybe I can check it by myself.
Maybe downgrade drawing tools version will fix it.

[2021-03-15 17:04] yangster23 opened #85 "Not able to move the coordinates tooltips of the map using Tab/arrow keys"
React azure maps fails  [SC 2.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html) accessibility requirement.

User is not able to move the coordinates tooltips of the map using Tab/arrow keys. When we move to the map we are able to see only one tooltip data and not able to move other tooltips.

As a result, keyboard only users will not be able to view the coo

[2021-03-15 17:12] yangster23 opened #86 "NVDA is not announcing the information of coordinates tooltips of the map using Tab/arrow keys."
NVDA is not announcing the information of coordinates tooltips of the map using Tab/arrow keys - https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html.

This issue is also observed with the "Chromium Edge+ Narrator".

NVDA should announce the information of coordinates tooltips of the map using Tab/arrow keys. As a result, screen reader users will not be able to understand the in

[2021-03-15 17:20] yangster23 opened #87 "Keyboard focus is moving on the coordinates tooltip present on the map more than one time using the Tab key."
Environment: Windows Version: Win10, Chrome Version: 87.0.4280.88 (Official Build) (64-bit)

On React Azure Maps, Keyboard focus is moving on the coordinates tooltip present on the map more than one time using the tab key. This fails WCAG 2.4.3 - https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html

Expected:
Keyboard Focus should move on the coordinates tooltip presen

[2021-03-21 14:13] #82 closed

[2021-03-23 21:20] psrednicki commented on #77
I have fix that error for NEXT.JS and update example with that in our docs: https://react-azure-maps.now.sh/live-example-map
The main problem is that you can't use map as a server side renderer - it need client side browser to work. Next is hybrid so you can add component without ssr.

[2021-03-23 21:20] #77 closed

[2021-03-31 08:10] msasinowski commented on #83
It will be probably better to use just and ResiseObserver for that we will maybe implement that kind of stuff inside the package so you can just use some prop to control that e.g  `fitParent`

[2021-04-12 13:11] ambientlight commented on #70
@Piyush925, @psrednicki: this issue occurs because there is multiple versions of azure-maps-control in the target bundle. (LayerManager.prototype.getRenderedShapes has `var layerId = layer instanceof Layer ? layer.getId() : layer;` where instances Layer is false because the layer is constructed with azure-maps-drawing-tools's azure-maps-control's Layer)

This can be verified by running:
[code]

fo

[2021-04-12 19:19] ambientlight commented on #70
@psrednicki, @msasinowski:

Actually the thing that solved deduplication at bundling for me was adding `azure-maps-drawing-tools` to plugins.externals.exclude in rollup config (https://github.com/ambientlight/react-azure-maps/blob/4b868b6335d120b4f549f4afa0d873cb6989b6d1/rollup.config.js#L38)

I am unfamiliar with rollup, I'm checking the docs of [rollup-plugin-node-externals](https://github.com/S

[2021-04-13 23:21] rbrundritt commented on #87
I believe this is an implementation issue, not a bug in this SDK. The accessible popup example you reference creates a popup for each location. You will need to do the same in your app rather than reusing a single popup instance.

[2021-04-13 23:21] rbrundritt commented on #86
I believe this is an implementation issue, not a bug in this SDK. The accessible popup example you reference creates a popup for each location. You will need to do the same in your app rather than reusing a single popup instance.

[2021-04-13 23:21] rbrundritt commented on #85
I believe this is an implementation issue, not a bug in this SDK. The accessible popup example you reference creates a popup for each location. You will need to do the same in your app rather than reusing a single popup instance.

[2021-04-20 10:37] lcoursey opened #94 "Uncaught error 'source-id' is already added to the map"
I can trigger this error by toggling a rendered data source and layer. For example by toggling the value of `showLayer `to `false`, then back to `true`.

[code]

[2021-05-18 12:33] lcoursey commented on #70
Are we likely to see this PR being merged soon? Noticed it's been open for a while now. Really keen to see support for drawing tools.

[2021-05-28 22:22] yangster23 commented on #87
Running the react-azure-playground locally, I can confirm the same behavior occurs where there is more than one instance of an popup, but they cannot be keyboard navigated via tab key.

![image](https://user-images.githubusercontent.com/5368099/120046766-bd48e400-bfc7-11eb-9437-1e5d208c1ece.png)

Looking at the accessibility [example ](https://codepen.io/azuremaps/pen/ZoVyZQ)provided in React Azur

[2021-05-31 19:18] ambientlight commented on #87
@yangster23:

To rephrase what @rbrundritt mentioned: The reason why you cannot navigate with tabs in [MultiplePointWithPopups.tsx](https://github.com/WiredSolutions/react-azure-maps-playground/blob/master/src/examples/MultiplePointWithPopup.tsx) is the fact that at [MultiplePointWithPopup.tsx#L128-L134](https://github.com/WiredSolutions/react-azure-maps-playground/blob/75d49feb4c8758b30d8b603d08f

[2021-06-01 09:37] ambientlight commented on #87
@yangster23: I've created a PR that fixes the above mentioned issue: https://github.com/WiredSolutions/react-azure-maps/pull/96

You may reference the full example at [AccessiblePopups.fix.tsx](https://gist.github.com/ambientlight/d186d2435c2399eb9f41c9c3fcd38947).

Until the fix gets merged, you may install the `react-azure-maps` from the PR's branch directly via:

[code]

[2021-06-05 22:03] joebeernink opened #97 "Targeting es5 causing issues when using types derived from EventEmitter"
ES5 Targeting in react-azure-maps causes an issue when you try to combine react-azure-maps with the HtmlMapLayer SDK available from Microsoft.
(https://github.com/Azure-Samples/azure-maps-html-marker-layer)

In the Azure Maps SDK EventManager.Invoke method, the code appears as follows:

[code]

In the Azure-Maps-Html-Marker-Layer src/extentions/ExtendedHtmlMarker.ts file, the HtmlMarker is extende

[2021-08-04 14:34] lcoursey opened #99 "Is this repo dead?"
Been a long time now since any releases or changes. Anyone got a solid fork that's up to date and has all the PR'd fixes?

[2021-08-10 16:33] kaseychakos commented on #99
Doesn't seem worth wasting much more time on. Documentation is horrible. Good luck.

[2021-10-22 17:28] vsarthak21 opened #101 "Tool tip over polygon layer on hover."
Hi, by any chance can we add a tooltip over any layer, specifically on polygon layer?

[2021-10-26 15:22] ashu-anhad opened #102 "Regarding writing test cases for react-azure-maps implementation in react app"
Hi,

I did a very simple implementation for react-azure-maps as below :

[code]

I tried to write the test case for the implementation using Jest. It gives me this error :

![image](https://user-images.githubusercontent.com/10142586/138909769-6e42e825-c968-43fd-a772-54947aae7225.png)

Please help !

[2021-11-04 18:23] yves-chan opened #103 "Update map data points when featureCollection changes?"
I have something like this

[code]

where featureCollection is a state. Is it possible for the map to update the data points if featureCollection changes? or what's the correct approach to do this?

[2021-11-05 07:17] JoshuaRoi opened #104 "Integrate Indoor maps"
Is there a way to add indoor maps to this wrapper?

[2021-12-10 16:43] scottpageindysoft opened #105 "React 17"
Please upgrade to React 17.

Also, is this project still active?

[2021-12-28 18:37] shmili commented on #104
Also looking for the same functionality.

Hope this gets imlemented soon.

[2022-01-12 23:16] ok-AK opened #107 "How to add circles using Point and Polygon with JSX syntax"
Ask:
Specifically I want to do this:
https://docs.microsoft.com/en-us/azure/azure-maps/map-add-shape#add-a-circle-to-the-map

I want a geospatially correct circle as the user zooms in and out.

Alternatives I've tried:
Bubble layer gets me a circle but the radius is pixel fixed which is why I discarded this approach and want to get the above point/shape + Polygon layer combo working.

Question:
It

[2022-01-13 18:06] gardnerjr opened #108 "requires mapblox-gl which doesn't have a standard license?"
We noticed that this package requires mapblox-gl: https://www.npmjs.com/package/mapbox-gl
which doesn't have any standard license, so inside Microsoft, it gets flagged in Component Governance as "missing legal info"

Is `mapblox-gl` *required* for this wrapper?  or could it be made an optional component?

[2022-02-08 22:23] rbrundritt commented on #108
Version 1 of the Azure Maps Web SDK uses and older version of the Mapbox SDK. Version 2 of the Azure Maps Web SDK (which this library is based on) uses MapLibre: https://maplibre.org/

So with that in mind, mapbox-gl likely isn't needed for this library. I suspect it might have been added when this library was initially created and just ignored since. Strangely it looks like the only other referen

[2022-02-10 09:26] drjonnicholson commented on #105
Also interested in this - is there an ETA on update to r17?

[2022-03-02 22:42] drjonnicholson commented on #102
Same issue here

[2022-05-26 16:13] jeffrey-m-johnson commented on #102
Also having this issue

[2022-06-18 12:44] dubiety commented on #101
Hi @vsarthak21 , sorry for the late reply. This is in our roadmap this year. We have considered to support this feature in the future release soon. Will keep you posted. Thank you very much.

[2022-06-18 12:45] dubiety commented on #105
Hi @scottpageindysoft  and @drjonnicholson , sorry for the late reply. We will support React 17 soon. Will keep you posted. Thank you for filing the issue to us.

[2022-06-18 12:49] dubiety commented on #99
Hi @lcoursey  and @kaseychakos , sorry for the late reply. This repo hasn't been updated for few months due to shortage of resources. We have a plan to update this library this year including overhauling the documentation. Will keep you posted and sorry for the inconvenience.

[2022-06-18 12:49] #99 closed

[2022-06-18 12:51] dubiety commented on #104
Hi @JoshuaRoi  and @shmili , Thank you for raising the issue. We have plan to support indoor maps in our roadmap. Will keep you posted on the new functionality.

[2022-06-21 15:30] dubiety commented on #105
Hi @scottpageindysoft @drjonnicholson , we now support r17 in v0.4.2. Please create new issue if there is any other problem. Thank you very much.

[2022-06-21 15:30] #105 closed

[2022-06-22 10:09] zackteng opened #119 "Maps do not automatically set the width and height of the container"
version: 0.4.2
react version: 17.0.2

<img width="371" alt="image" src="https://user-images.githubusercontent.com/6346325/175002260-07df6240-fe46-4695-856a-9e787ef78d33.png">
when initialize, this code's dependence library mapbox-gl[https://github.com/mapbox/mapbox-gl-js/blob/main/src/ui/map.js] use getBoundingClientRect to get container's width and height, but get value 0
<img width="640" alt="im

[2022-06-22 15:33] zackteng commented on #119
sorry,  It was my mistake

[2022-06-22 15:33] #119 closed

[2022-06-28 17:55] drcrook1 opened #120 "Invalid Authentication Type"
Simply following the starter code and getting the following errors:

`react-azure-maps.es5.js:55

       Error: An invalid authentication type was specified.
    at react-azure-maps.es5.js:55:1
    at new Promise (<anonymous>)
    at Rf.initialize (react-azure-maps.es5.js:55:1)
    at new tg (react-azure-maps.es5.js:55:1)
    at react-azure-maps.es5.js:55:1
    at commitHookEffectListMount (react-

[2022-06-28 17:56] drcrook1 commented on #120
``wow, that did not render how I wanted it to...

`import React, { useState } from "react";
import {
  AzureMap,
  AzureMapsProvider,
  IAzureMapOptions,
} from "react-azure-maps";
import { AuthenticationType } from "azure-maps-control";

function HomePage() {
  const { option } = {
    authOptions: {
      authType: AuthenticationType.subscriptionKey,
      subscriptionKey: "MYKEY", // Your subsc

[2022-07-25 19:03] microsoft-github-policy-service[bot] opened #122 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-01 21:34] piyush546 opened #123 "[GLOBAL CSS IMPORT ISSUE] --- Help Wanted"
Trying to use the react-azure-maps with my next js project but getting below issue

[code]
./node_modules/mapbox-gl/src/css/mapbox-gl.css
Global CSS cannot be imported from within node_modules.
Read more: https://nextjs.org/docs/messages/css-npm
Location: node_modules/react-azure-maps/dist/react-azure-maps.es5.js

[code]
Please provide proper steps to integrate this library in my project

[2022-08-02 06:35] OssiPesonen opened #125 "Using subscription key publicly"
I would like to question the promotion of using the subscription key as the primary method of authentication in this repo. Our development team dig into the Azure Maps documentation. The documentation does provide a [tutorial](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-search-location) with the use of the subscription key, but they do not clearly state that it's actually wrong to u

[2022-08-04 21:48] toastynerd commented on #102
I, as well, have this issue. Anyone find a solution yet?

[2022-08-26 18:42] greg-otterpeak opened #127 "Invalid hook call help?"
I'm sure this is something I'm doing wrong, but I'm stuck and am hoping you can point me in the right direction.  I'm trying to get the simple default example working and am getting the following when I navigate to the page that contains the React stuff.  Here is the code for that page:

[code]
It is being called like this:

[code]

Here is the client developer console log.

Thanks so much for any

[2022-08-26 19:02] greg-otterpeak commented on #127
More information:

* I have other components that do useState stuff and those work.
* I do not have multiple versions of React.
* I have tried to execute the example exactly like the project's defaultmap example and it still fails the same way.

Here is my package.json just in case that is something:

[code]

[code]

[2022-08-29 20:18] greg-otterpeak commented on #127
This issue is resolved.  In true React fashion and after two days...  I had to modify the package.json to reference react@17.0.2, not 17.0.0.  This worked.  I don't think your documentation says anything about that...

[2022-08-29 20:18] #127 closed

[2022-09-09 21:28] dkjaer commented on #102
Same problem here. Makes it incompatible with Jest

[2022-10-12 09:11] de2nvdanh opened #130 "How to add animation using library azure-map-animations"
I have a problem adding the azure-map-animation library and combining them with react-azure-map. Can they work together?

[2022-11-07 22:57] sebasptsch opened #131 "Unable to Import React Azure Maps"
Vitest is unable to correctly import react-azure-maps during testing with an import error.

This is likely caused by incorrect package.json.

At the moment:

[code]
It should be:
[code]

[2022-11-08 03:53] yulinscottkang commented on #131
@sebasptsch, can you elaborate on the import error that you're having? A sample code to reproduce the error would be much appreciated. Thank you.

[2022-11-08 07:10] sebasptsch commented on #131
[code]

Vite fails to compile the code citing that the above line is the problem and that it failed to resolve react-azure-maps.

If you look at the package.json reference provided on npmjs.com you can see how code is typically exported from a package.

[2022-11-09 07:19] yulinscottkang commented on #131
Thank you @sebasptsch. Tested https://github.com/Azure/react-azure-maps/pull/133 and LGTM!

Just for future reference, the error from vitest is:
[code]

[2022-11-10 05:48] #131 closed

[2022-11-17 02:51] nollidnosnhoj opened #134 "layer events does not work when using mapref"
I try adding a mouse click event on the layer in the MapRef example in the playground, but it does not trigger the event.

MapController.tsx

[code]

[2022-11-21 03:24] yulinscottkang commented on #134
@nollidnosnhoj, you can try removing the second parameter, that should work.
[code]

[2022-11-24 11:34] lybomir opened #135 "Close btn for AzureMapPopup"

[2022-11-29 12:31] Vedantthakkar commented on #120
I am facing the same issue. Do we have a work around for this till the bug is fixed?